*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build/
/.idea/
/gradle/
/.gradle/
/app/app.iml
/app/build/
/commonutils/build/
/CommonUtilsAndroid.iml
/commonutils/commonutils.iml
/local.properties
/gradlew
/gradlew.bat
